###
 # @Author: xiong x1253780359@outlook.com
 # @Date: 2026-04-15 19:26:49
 # @LastEditors: xiong x1253780359@outlook.com
 # @LastEditTime: 2026-04-15 20:11:29
 # @FilePath: \car-rec\car-backed\.env.example
 # @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
### 
PORT=3000
USE_LLM=false
OPENAI_API_KEY=sk-KH27S5sESu4tIM5nZpCL0qAZ0398kU2u84joHlHgLw8zLCTa
OPENAI_BASE_URL=https://api.moonshot.cn/v1
OPENAI_MODEL=kimi-k2.5
